.thead-light {
  vertical-align: middle !important;
}

.textcenter {
  text-align: center; 
}
.atable {
  width: 515px;
  max-width: 515px;
  margin-left: auto;
  margin-right: auto;  
}

.btn-primary {
  border-color: #222d65;
  color: #222d65;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto; 
}

.btn-primary:hover {
  border-color: #222d65;
  color: #fff;
  background-color: #222d65;
}

.btn-primary:active {
  border-color: #222d65;
  color: #222d65;
  background-color: #fff;
}

.btn-primary:focus {
  border-color: #222d65;
  color: #222d65;
  background-color: #fff;
}

.input-group {
	max-width: 515px;
  margin-left: auto;
  margin-right: auto; 
}

.bottomline {
  border-bottom: 1px solid #222d65;
 }

.imguser {
  width:100%;
  max-width: 50px;
}
.img-thumbnail {
	border: 1px solid #212529;
}
h6 {
font-family: Verdana, Arial, Tahoma, Serif;
	font-size: 16px;
  color: #222d65;
  font-weight: bold;
}

a {
  font-family: Verdana, Arial, Tahoma, Serif;    
    color: #222d65;    
    font-weight: bold;
  }

  a:hover {
    font-family: Verdana, Arial, Tahoma, Serif;    
      color: #fff;    
      font-weight: bold;
    }

.drop {
    border-color: #222d65;
    color: #222d65;
    background-color: #fff;

  }
  .drop:hover {
    border-color: #222d65;
    color: #fff;
    background-color: #222d65;

  }
